@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(96, 96, 255);
    color: white;
    text-align: center;
}

header {
    margin: 20px 0px 20px 0px;
}

section {
    background-color: white;
    color: rgb(96, 96, 255);
    font-size: 1.5em;
    text-align: left;
    padding: 20px;
    min-width: 500px;
    width: 60vw;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.403);
    border-radius: 10px;
}

section > div > p {
    margin: 10px;
    padding: 1px;
    border-radius: 5px;
}

section > div #masc,#femi {
    margin-right: 1vw;
}

section > div #button {
    padding: 4px;
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(131, 131, 131);
}

section > div#res {
    text-align: center;
    border-top: 1px solid black;
}

footer {
    margin: 20px 0px;
}